#header-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

#header-container li {
  list-style: none;
}

nav a {
  padding: 10px;
  box-shadow: 5px 5px 5px #1a191a;
  background-color: #474d71;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover,
nav .active {
  background-color: #484b61;
}

#header-text {
  color: #474d71;
}
