/* Color Palette

  Light gray: F4F4F6
  Blue: 474D71
  Not Black, Black: 141301

*/

body {
  background-color: #f4f4f6;
  color: #141301;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Merienda", cursive;
}

i {
  font-size: 2em;
  padding: 0 5px 0 5px;
}

.fa-check-circle {
  color: #075a07;
}

.fa-times-circle {
  color: #a20707;
}
