/* Color Palette

  Dark gray: 333231
  Strong Yellow: FFDA3A
  Bright blue: 48B2F0

*/

* {
  margin: 0;
}

body {
  background-color: #333231;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Merienda", cursive;
  padding: 20px;
}

h2 {
  font-family: "Merienda", cursive;
  padding: 15px;
}

p {
  padding: 5px;
}

form {
  padding: 5px;
}

form input,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

button {
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #ffda3a;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffe573;
}

form input {
  background-color: #fffdf5;
}

.green {
  color: #10e010;
}

.light-green {
  color: #036303;
}
.red {
  color: #fa0505;
}

.light-red {
  color: #b30505;
}

.medium-box {
  width: 420px;
  min-height: 140px;
  border: 1px solid black;
}

.large-box {
  width: 840px;
  border: 1px solid black;
  margin: 0 auto;
  padding-bottom: 10px;
}

.small-box,
.medium-box,
.large-box {
  color: black;
  background-color: #f4f4f6;
}

.box-header {
  background-color: #48b2f0;
  color: black;
  margin-top: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.box-header i {
  font-size: 1.5em;
  padding: 0 5px 0 5px;
}

.box-content {
  text-align: left;
  padding: 5px;
}

#app-container {
  max-width: 1000px;
  margin: auto;
}
